# Dependencies
node_modules/
.pnpm-store/

# Next.js build output
.next/
out/

# Environment variables (jangan commit nilai sensitif)
.env.local
.env.*.local

# Vite
*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

.vercel
.env*.local
